<div class="card mb-3">
    <div class="card-body">
        <form #todoForm="ngForm" (ngSubmit)="onTodoAdd(todoForm)">
            <div class="form-group">
                <label for="todoitem">Todo Item*</label>
                <input required ngModel #todoitem="ngModel" name="skill" type="text" class="form-control">
                <span class="text-danger"
                    *ngIf="todoitem.invalid && todoitem.touched && todoitem.hasError('required')">todoitem field is
                    required</span>
            </div>
            <div class="text-right">
                <button mat-raised-button color="warn">Add TodoItem</button>
            </div>
        </form>
    </div>
</div>